# Anthropic API Key
ANTHROPIC_API_KEY=

# Honcho Environment URL demo, local
HONCHO_ENV=https://demo.honcho.dev
HONCHO_APP_NAME=
# Regex for the url the webshell will be running on
CLIENT_REGEX=http://localhost:5173(\/share)?

# Supabase JWT secret for Auth
JWT_SECRET=

# Fernet secret key for encrypting share urls
SECRET_KEY= 
